<h1>Welcome</h1>

<!-- <div class="play-container">
    <p>You've clicked {{ clickCounter }} times.</p>
    <button (click)="countClick()">Click</button>
</div>

<div class="play-container">
    <p>
        <input type="text" [(ngModel)]="name">
        <br>
        <strong>You Said: </strong> {{ name }}
    </p>
</div>

<div class="play-container" [ngClass] = "setClasses()" >
    <ng-template [ngIf]="clickCounter > 4" [ngIfElse]="none">
        <p>Click is greater than 4</p>
    </ng-template>
    <ng-template #none>
        <p>Click counter is less than 4</p>
    </ng-template>
</div> -->

<div id="container">
    <h2>A little about me</h2>
    <p class="paraText">My name is Michael Gain. I currently attend Cabarrus Early College of Technology and Rowan-Cabarrus Community College. I will receive my High School Diploma as well as an Applied Associates of Computer Programming.</p>

    <img src="\assets\images\code.jpg" class="imgContainer" alt="code">
    <p class="paraText">I love programming and everything computers. I have done
    a lot of programming in languages such as C++, C#, Python, JavaScript/TypeScript,
    and Visual Basic. I also do a little HTML and CSS. C# has quickly become my favorite
    language to use because of its flexibility and versatility. Programming is perfect for me because 
    I love to come up with an idea and actually make it a reality.</p>

    <br style="clear:both;">

    <img src="\assets\images\gaming.jpg" class="imgContainer" alt="keyboard">
    <p class="paraText">If I'm not programming I'm probably playing video games.
    My favorite game is Skyrim and it is my biggest inspiration for wanting to develop video games as a career. My interest in programming goes back a few years before with Minecraft. Seeing all the amazing mods that people could create inspired me to learn how to program.</p>
</div>

<div class="experiencesContainer">
    <h1>Experiences</h1>
    <p>Most of my recent projects are listed on my
    <a href="#" routerLink="/projects" class="linkClass">Projects page</a></p>

    <p>Other notable projects have been hosting a website using
    <a href="http://www.wampserver.com/en/" class="linkClass" target="_blank">WAMP server</a>,
    hosting game servers with various software, and processes associated with both such as
    port forwarding.</p>

    <h1>Education</h1>
    <p>I am currently enrolled in Cabarrus Early College of
    Technology and Rowan-Cabarrus Community College. I am working towards
    an Applied Associates of Computer Programming.</p>

    <h2>Certificates</h2>
    <p>I have 3 Microsoft Technology Associate(MTA) certificates:</p>
    <ul id="certList">
        <li>MTA for Software Development Fundamentals (C#)</li>
        <li>MTA for Introduction to Programming Using Javascript</li>
        <li>MTA for Introduction to Programming using Python</li>
    </ul>

</div>

<div class="contactContainer">
    <h1>Contact Me</h1>
    <ul>
        <li>
            <a href="mailto:gain.michaelj01@gmail.com" target="_blank">
                <img src="\assets\images\gmail-logo.png" class="contactImgLink" alt="gmail logo">
            </a>
        </li>
        <li>
            <a href="https://www.linkedin.com/in/michael-gain-36212b184/" target="_blank">
                <img src="\assets\images\LinkedIn-logo.png" class="contactImgLink" alt="linkedin logo">
            </a>
        </li>
    </ul>

    
</div>